@charset "utf-8";
/* CSS Document */

/* Diverso CSS v1.0 by Angelo Mazzilli */
/* http://themeforest.net/user/AngeloM */

a, .contact-form input[type=text], .contact-form textarea, .thumbnail-services i, .thumbnail-services h5, .thumbnail .blog-detail .date, .blog-filter p a:hover, .products-filter p a:hover, .products-filter p a.active, .blog-filter p a.active {
	color: #0DA;
}
.sidebar-menu-settings p a.bg-aqua, .thumbnail-services:hover i, .thumbnail .thumbnail-detail, .thumbnail .blog-detail .btn, .thumbnail .btn:hover, .thumbnail .thumb-hover a, .hero-unit .btn:hover, #slides .slides-container .slides-detail:hover i, #isotope .item .thumb-hover a.link, .thumbnail .thumb-hover a:hover {
	background: #0DA;
}
.thumbnail-services:hover i {
	border-color: #0DA;
}